form p {
	display: block;
}

form span.light {
	color: rgb(160,160,160);
}

form.item .title {
	width: 100%;
	box-sizing: border-box;
}

form.item .content {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	height: 220px;
}

form.item .url {
	line-height: 16px;
	padding: 2px;
	width: 160px;
	font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

form.item input[type="submit"], .meta form input[type="submit"] {
	float: right;
}

.meta label {
	display: block;
	margin-bottom: 10px;
}

.meta .description {
    max-width: 100%;
    width: 100%;
	height: 80px;
}

.meta form input.theme {
	line-height: 16px;
	padding: 2px;
	width: 160px;
	font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

#content footer {
	margin: 40px 0 0 0;
}

#content p.margin10px, #content h3.margin10px {
	margin-bottom: 10px;
}

#content .nomargin {
	margin-bottom: 0;
}