html {
	background: #fff; /* dark blue */
}

body {
	color: rgb(110,110,110);
	font: normal 13px "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
	line-height: 16px;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

p, h3 {
	margin: 0 0 20px 0;
}

h3 {
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
}

a {
	color: rgb(110,110,110);
	text-decoration: underline;
}

a:hover {
	color: rgb(80,80,80);
}

a:active {
	color: rgb(110,110,110);
}

code {
	font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

button, input[type="submit"], input[type="button"] {
	padding: 7px 9px;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	line-height: 12px;
	cursor: pointer;
}

button, input[type="submit"] {
	background: rgb(70,150,223);
	background: linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
	background: -webkit-linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
	box-shadow: inset 0 0 0 1px rgba(35,105,190,0.6), inset 0 2px 0 0 rgb(102,182,237), inset 2px 0 0 0 rgba(105,185,240,0.1), inset -2px 0 0 0 rgba(105,185,240,0.1), inset 0 -2px 0 0 rgba(105,185,240,0.1), 0 1px 2px rgba(0,0,0,0.08);
	color: rgba(250,250,250,0.92);
	text-shadow: 0 -1px rgb(58,138,223);
}

button:hover, input[type="submit"]:hover {
	background: rgb(75,155,228);
	background: linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
	background: -webkit-linear-gradient(top, rgb(100,180,235) 0%, rgb(55,135,220) 100%);
	box-shadow: inset 0 0 0 1px rgba(40,110,195,0.6), inset 0 2px 0 0 rgb(107,187,242), inset 2px 0 0 0 rgba(110,190,245,0.1), inset -2px 0 0 0 rgba(110,190,245,0.1), inset 0 -2px 0 0 rgba(110,190,245,0.1), 0 1px 2px rgba(0,0,0,0.08);
	color: rgba(255,255,255,0.92);
	text-shadow: 0 -1px rgb(63,143,228);
}

button:active, input[type="submit"]:active {
	background: rgb(60,140,213);
	background: linear-gradient(top, rgb(60,140,215) 0%, rgb(80,160,220) 100%);
	background: -webkit-linear-gradient(top, rgb(60,140,215) 0%, rgb(80,160,220) 100%);
	box-shadow: inset 0 0 0 1px rgba(35,105,190,0.6), 0 1px 2px rgb(255,255,255), inset 0 0 rgba(35,105,190,0.4);
	color: rgba(250,250,250,0.91);
	text-shadow: 0 1px rgb(45,125,210);
}

button.grey, input[type="button"] {
	background: rgb(246,246,246);
	background: linear-gradient(top, rgb(246,246,246) 0%, rgb(224,224,224) 100%);
	background: -webkit-linear-gradient(top, rgb(246,246,246) 0%, rgb(224,224,224) 100%);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 2px rgba(255,255,255,0.44), inset 2px 0 rgba(255,255,255,0.24), inset -2px 0 rgba(255,255,255,0.24), inset 0 -2px rgba(255,255,255,0.24), 0 1px 2px rgba(0,0,0,0.08);
	color: rgba(0,0,0,0.44);
	text-shadow: 0 1px rgba(255,255,255,0.44);
}

button.grey:hover, input[type="button"]:hover {
	background: rgb(250,250,250);
	background: linear-gradient(top, rgb(250,250,250) 0%, rgb(228,228,228) 100%);
	background: -webkit-linear-gradient(top, rgb(250,250,250) 0%, rgb(228,228,228) 100%);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 2px rgba(255,255,255,0.5), inset 2px 0 rgba(255,255,255,0.24), inset -2px 0 rgba(255,255,255,0.24), inset 0 -2px rgba(255,255,255,0.24), 0 1px 2px rgba(0,0,0,0.08);
	color: rgba(0,0,0,0.44);
	text-shadow: 0 1px rgba(255,255,255,0.44);
}

button.grey:active, input[type="button"]:active {
	background: rgb(242,242,242);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 0 0 2px rgba(255,255,255,0.1);
	color: rgba(0,0,0,0.44);
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

input:focus, textarea:focus {
	outline: none;
}

input[type="text"][readonly], input[type="number"][readonly], input[type="password"][readonly], input[type="datetime"][readonly], input[type="datetime-local"][readonly], textarea[readonly], input[readonly]:focus {
	border: 1px solid rgb(212,212,212);
	box-shadow: none;
	color: rgb(110,110,110);
}

input[type="text"], input[type="number"], input[type="password"], input[type="datetime"], input[type="datetime-local"], textarea {
	padding: 4px 6px;
	border: 1px solid rgb(192,192,192);
	border-radius: 4px;
	background: #fff;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);
	color: rgb(110,110,110);
	font-size: 13px;
	line-height: 16px;
	-webkit-appearance: none;
}

input[type="text"], input[type="number"], input[type="password"], input[type="datetime"], input[type="datetime-local"] { /* all text input fields */
	width: 160px;
}

textarea {
	padding: 6px;
}

input::input-placeholder, input::-webkit-input-placeholder, textarea::input-placeholder, textarea::-webkit-input-placeholder {
	color: rgb(160,160,160);
}

#center {
	margin: 0 auto;
	width: 900px;
}

#wrapper {
	float: left;
	margin: 20px;
}

#content {
	float: right;
	box-sizing: border-box;
	margin: 20px;
	width: 660px;
	border-radius: 4px;
}

#content.-before-disappear {
	opacity: 0.5;
}
