#login {
	margin: 150px auto;
	width: 250px;
	border-radius: 3px;
	text-align: right;
	position: relative;
}

#login-username, #login-password {
	width: 240px;
	height: 14px;
	border-radius: 4px;
	background: rgb(242,242,242);
	border: 1px solid #C7C7C7;
	box-shadow: inset 0 0 0 1px rgb(250,250,250), 0 0px 2px rgb(240,240,240);
	font-size: 13px;
	line-height: 14px;
	color: rgb(120,120,122);
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
	line-height: 12px;
	padding: 5px;
	outline: none;
}

#login input::input-placeholder, #login input::-webkit-input-placeholder {
	font-size: 12px;
	line-height: 14px;
	color: rgb(140,140,142);
	text-shadow: 0 1px 0 #fff;
}

#login-account-prefix {
	display: none;
	position: absolute;
	left: -255px;
	top: 0;
	width: 100%;
	line-height: 26px;
	text-align: right;
	color: rgb(160,160,160);
}

#login-username {
	margin: 0 0 10px 0;
}

#login-password {
	margin: 0 0 20px 0;
}

#login-submit{
	margin: 0 0 20px 0;
	float: right;
}

#login p.show-help {
	font-size: 12px;
	line-height: 26px;
	float: right;
	margin: 0 20px 0 0;
}

#login p.show-help:hover {
	cursor: pointer;
}

#login p.help {
	text-align: left;
	line-height: 18px;
	display: none;
	float: left;
}

#login p.help code {
	color: rgb(160,160,160);
}