a.create-post button {
	margin: 0 0 20px 0;
}

.posts ol {
	list-style: none;
}

.posts ol a {
	text-decoration: none;
}

.posts ol a li {
	padding: 20px 0 20px 0;
	border-bottom: 1px rgb(240,240,240) solid;
}

.posts ol a:last-child li {
	border-bottom: none;
	padding-bottom: 0;
}

.posts ol li h2 {
	font-size: 16px;
	line-height: 32px;
}

.posts ol li {
	font-size: 12px;
	line-height: 24px;
}

.posts ol li.error {
	padding: 20px 0 0 0;
}

.posts ol li.error p {
	margin-bottom: 0;
}

.posts button.page-nav {
	margin: 20px 0 0 0;
}

button#next-page {
	float: right;
}

button#previous-page {
	float: left;
}