#error * {
	margin: 0;
	padding: 0;
}

#error h1, #error p {
	color: #000;
}

#error h1 {
	font: normal 24px "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 32px;
	text-align: left;
	margin: 64px 32px 0 64px;
}

#error p {
	font: normal 11px "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
	margin: 32px 32px 0 64px;
}

#error code {
	font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
	color: #888;
}

#error a {
	color: #00e;
	text-decoration: underline;
}

#error a:hover {
	color: #00e;
}

#error a:active {
	color: #e00;
}