footer {
	float: left;
	width: 860px;
	margin-right: 40px;
	padding: 0 0 40px 0;
}

footer p {
	color: rgb(160,160,160);
	text-align: right;
	font-size: 12px;
}

footer p a {
	color: rgb(160,160,160);
	text-decoration: none;
}

footer p a:hover {
	color: rgb(120,120,120);
}

footer p a:active {
	color: rgb(160,160,160);
}