footer {
	float: left;
	width: 100%;
}

footer p {
	color: rgb(160,160,160);
	text-align: left;
	font-size: 12px;
}

footer p span.left {
	text-align: left;
	float: left;
}

footer p span.right {
	text-align: right;
	float: right;
}

footer p a {
	color: rgb(160,160,160);
	text-decoration: none;
}

footer p a:hover {
	color: rgb(120,120,120);
}

footer p a:active {
	color: rgb(160,160,160);
}