html {
	background: #fff; /* dark blue */
}

body {
	font-family: "Lucida Grande", "Helvetica Neue", sans-serif;
	color: rgb(120,120,120);
	font-size: 13px;
	line-height: 16px;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

p {
	margin: 0 0 20px 0;
}

a {
	color: rgb(120,120,120);
	text-decoration: underline;
}

a:hover {
	color: rgb(80,80,80);
}

a:active {
	color: rgb(120,120,120);
}

code {
	font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

button, input[type="submit"], input[type="button"] {
	border: none;
	padding: 0 6px;
	font-size: 12px;
	line-height: 20px;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	border-radius: 4px;
}

button, input[type="submit"] {
	color: rgba(250,250,250,0.92);
	text-shadow: 0 -1px rgb(58,138,223);
	background: rgb(70,150,223);
	background: linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
	background: -webkit-linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
	box-shadow: inset 0 0 0 1px rgba(35,105,190,0.6), inset 0 2px 0 0 rgb(102,182,237), inset 2px 0 0 0 rgba(105,185,240,0.1), inset -2px 0 0 0 rgba(105,185,240,0.1), inset 0 -2px 0 0 rgba(105,185,240,0.1);
}

button:hover, input[type="submit"]:hover {
	color: rgba(255,255,255,0.92);
	text-shadow: 0 -1px rgb(63,143,228);
	background: rgb(75,155,228);
	background: linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
	background: -webkit-linear-gradient(top, rgb(100,180,235) 0%, rgb(55,135,220) 100%);
	box-shadow: inset 0 0 0 1px rgba(40,110,195,0.6), inset 0 2px 0 0 rgb(107,187,242), inset 2px 0 0 0 rgba(110,190,245,0.1), inset -2px 0 0 0 rgba(110,190,245,0.1), inset 0 -2px 0 0 rgba(110,190,245,0.1);
}

button:active, input[type="submit"]:active {
	color: rgba(250,250,250,0.91);
	text-shadow: 0 1px rgb(45,125,210);
	background: rgb(60,140,213);
	background: linear-gradient(top, rgb(60,140,215) 0%, rgb(80,160,220) 100%);
	background: -webkit-linear-gradient(top, rgb(60,140,215) 0%, rgb(80,160,220) 100%);
	box-shadow: inset 0 0 0 1px rgba(35,105,190,0.6), 0 1px 2px rgb(255,255,255), inset 0 0 rgba(35,105,190,0.4);
}

button.grey, input[type="button"] {
	color: rgba(0,0,0,0.44);
	text-shadow: 0 1px rgba(255,255,255,0.44);
	background: rgb(246,246,246);
	background: linear-gradient(top, rgb(246,246,246) 0%, rgb(224,224,224) 100%);
	background: -webkit-linear-gradient(top, rgb(246,246,246) 0%, rgb(224,224,224) 100%);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 2px rgba(255,255,255,0.44), inset 2px 0 rgba(255,255,255,0.24), inset -2px 0 rgba(255,255,255,0.24), inset 0 -2px rgba(255,255,255,0.24);
}

button.grey:hover, input[type="button"]:hover {
	color: rgba(0,0,0,0.44);
	text-shadow: 0 1px rgba(255,255,255,0.44);
	background: rgb(250,250,250);
	background: linear-gradient(top, rgb(250,250,250) 0%, rgb(228,228,228) 100%);
	background: -webkit-linear-gradient(top, rgb(250,250,250) 0%, rgb(228,228,228) 100%);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 2px rgba(255,255,255,0.5), inset 2px 0 rgba(255,255,255,0.24), inset -2px 0 rgba(255,255,255,0.24), inset 0 -2px rgba(255,255,255,0.24);
}

button.grey:active, input[type="button"]:active {
	color: rgba(0,0,0,0.44);
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	background: rgb(242,242,242);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 0 0 2px rgba(255,255,255,0.1);
}

input[type="button"].red {
	color: rgba(255,255,255,0.92);
	text-shadow: 0 -1px rgba(0,0,0,0.14);
	background: rgb(235,30,30);
	background: linear-gradient(top, rgb(250,50,50) 0%, rgb(210,10,10) 100%);
	background: -webkit-linear-gradient(top, rgb(255,50,50) 0%, rgb(210,10,10) 100%);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 1px 1px 1px rgba(255,255,255,0.1), inset 0 0 0 2px rgba(255,255,255,0.14);
}

input[type="button"].red:hover {
	color: rgba(255,255,255,0.92);
	text-shadow: 0 -1px rgba(0,0,0,0.14);
	background: rgb(255,50,50);
	background: linear-gradient(top, rgb(255,90,90) 0%, rgb(220,30,30) 100%);
	background: -webkit-linear-gradient(top, rgb(255,90,90) 0%, rgb(220,30,30) 100%);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 1px 1px 1px rgba(255,255,255,0.08), inset 0 0 0 2px rgba(255,255,255,0.12);
}

input[type="button"].red:active {
	color: rgba(255,255,255,0.90);
	text-shadow: 0 1px rgba(0,0,0,0.16);
	background: rgb(215,10,10);
	background: linear-gradient(top, rgb(205,5,5) 0%, rgb(240,40,40) 100%);
	background: -webkit-linear-gradient(top, rgb(205,5,5) 0%, rgb(240,40,40) 100%);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.22);
}

input:focus, textarea:focus {
	outline: none;
}

input[type="text"][readonly], input[type="number"][readonly], input[type="password"][readonly], input[type="datetime"][readonly], textarea[readonly], input[readonly]:focus {
	color: rgb(120,120,120);
	border: 1px solid rgb(212,212,212);
	box-shadow: 0 0 0 1px #fff, inset 0 0 2px rgba(0,0,0,0.08);
}

input[type="text"], input[type="number"], input[type="password"], input[type="datetime"], textarea {
	padding: 4px 6px;
	font-size: 13px;
	line-height: 16px;
	border-radius: 4px;
	color: rgb(120,120,120);
	background: #fff;
	border: 1px solid rgb(192,192,192);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);
	-webkit-appearance: none;
}

textarea {
	padding: 6px;
}

input::input-placeholder, input::-webkit-input-placeholder, textarea::input-placeholder, textarea::-webkit-input-placeholder {
	color: rgb(160,160,160);
}

#center {
	width: 900px;
	margin: 0 auto;
}

#wrapper {
	float: left;
	margin: 20px;
}

#content {
	width: 660px;
	box-sizing: border-box;
	margin: 20px;
	float: right;
	border-radius: 4px;
	
}