html {
	background: #fff; /* dark blue */
}

body {
	font-family: "Lucida Grande", "Helvetica Neue", sans-serif;
	color: rgb(120,120,122);
	font-size: 13px;
	line-height: 16px;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

a {
	color: rgb(120,120,122);
	text-decoration: underline;
}

a:hover {
	color: rgb(80,80,82);
}

a:active {
	color: rgb(40,40,42);
}

button {
	border: none;
	padding: 0 6px;
	font-size: 12px;
	line-height: 20px;
	font-family: Helvetica, sans-serif;
	color: rgba(250,250,250,0.92);
	text-shadow: 0 -1px rgb(58,138,223);
	text-decoration: none;
	border-radius: 4px;
	background: rgb(70,150,223);
	background: linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
	background: -webkit-linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
	box-shadow: inset 0 0 0 1px rgba(35,105,190,0.6), inset 0 2px 0 0 rgb(102,182,237), inset 2px 0 0 0 rgba(105,185,240,0.1), inset -2px 0 0 0 rgba(105,185,240,0.1), inset 0 -2px 0 0 rgba(105,185,240,0.1);
}

button:hover {
	color: rgba(255,255,255,0.92);
	text-shadow: 0 -1px rgb(63,143,228);
	background: rgb(75,155,228);
	background: linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
	background: -webkit-linear-gradient(top, rgb(100,180,235) 0%, rgb(55,135,220) 100%);
	box-shadow: inset 0 0 0 1px rgba(40,110,195,0.6), inset 0 2px 0 0 rgb(107,187,242), inset 2px 0 0 0 rgba(110,190,245,0.1), inset -2px 0 0 0 rgba(110,190,245,0.1), inset 0 -2px 0 0 rgba(110,190,245,0.1);
}

button:active {
	color: rgba(250,250,250,0.91);
	text-shadow: 0 1px rgb(45,125,210);
	background: rgb(60,140,213);
	background: linear-gradient(top, rgb(60,140,215) 0%, rgb(80,160,220) 100%);
	background: -webkit-linear-gradient(top, rgb(60,140,215) 0%, rgb(80,160,220) 100%);
	box-shadow: inset 0 0 0 1px rgba(35,105,190,0.6), 0 1px 2px rgb(255,255,255), inset 0 0 rgba(35,105,190,0.4);
}

button.grey {
	color: rgba(0,0,0,0.44);
	text-shadow: 0 1px rgba(255,255,255,0.44);
	background: rgb(246,246,246);
	background: linear-gradient(top, rgb(246,246,246) 0%, rgb(224,224,224) 100%);
	background: -webkit-linear-gradient(top, rgb(246,246,246) 0%, rgb(224,224,224) 100%);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 2px rgba(255,255,255,0.44), inset 2px 0 rgba(255,255,255,0.24), inset -2px 0 rgba(255,255,255,0.24), inset 0 -2px rgba(255,255,255,0.24);
}

button.grey:hover {
	color: rgba(0,0,0,0.44);
	text-shadow: 0 1px rgba(255,255,255,0.44);
	background: rgb(250,250,250);
	background: linear-gradient(top, rgb(250,250,250) 0%, rgb(228,228,228) 100%);
	background: -webkit-linear-gradient(top, rgb(250,250,250) 0%, rgb(228,228,228) 100%);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 2px rgba(255,255,255,0.44), inset 2px 0 rgba(255,255,255,0.24), inset -2px 0 rgba(255,255,255,0.24), inset 0 -2px rgba(255,255,255,0.24);
}

button.grey:active {
	color: rgba(0,0,0,0.44);
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	background: rgb(242,242,242);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 0 0 2px rgba(255,255,255,0.1);
}

#center {
	width: 900px;
	margin: 0 auto;
}

#wrapper {
	float: left;
	margin: 20px;
}

#content {
	width: 660px;
	box-sizing: border-box;
	margin: 20px;
	float: right;
}

button#create-post {
	margin: 0 0 20px 0;
}

#content ol {
	list-style: none;
	margin: 0 0 20px 0;
}

#content ol li {
	margin: 20px 0 0 0;
}

button.page-nav {
	margin: 20px 0 0 0;
}

button#next-page {
	
}

button#previous-page {
	
}