#sidebar {
	float: left;
	width: 160px;
}

#sidebar ul {
	list-style: none;
	margin: 20px;
	background: rgb(245,245,247);
	border-bottom: 1px #C7C7C7 solid;
}

#sidebar ul a {
	text-decoration: none;
}

#sidebar ul li {
	font-size: 16px;
	line-height: 32px;
	padding: 0 10px 0 10px;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px #C7C7C7 solid;
	border-right: 1px #C7C7C7 solid;
	border-left: 1px #C7C7C7 solid;
	color: rgb(93,93,95);
}

#sidebar ul li:hover {
	background: rgb(242,242,242);
}

#sidebar ul li:active {
	color: rgb(73,73,75);
	background: rgb(232,232,232);
}